<h1>Coin Combination Game</h1>

<p>Come and play our Coin Combination game! Enter an amount of cents and find out how many coins you would get.</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="userInput">Enter an amount of cents</label>
    <input id="userInput" name="userInput" class="form-control" type="numbers">
  </div>
  <br>
  <button type="submit" class="btn btn-info">Get my change!</button>
  <p></p>
</form>
